<!DOCTYPE html>
<html>

<head>
    <title>Assignment 0</title>
    <style type="text/css">
        body {
            background-color: lavender;
            font-family: verdana;
            font-size: 9pt;
        }
    </style>
</head>

<body>
    <center>
    <form action="/message" method="post">
        <br><br><br><br>
        <h3>Submit New Message</h3>
    	Email: <input type="text" name="email"><br>
    	Content: <textarea name="content"></textarea><br>
    	<input type="submit" value="Submit">
    </form>
    <br><br><br><br>
    {{#if data}}
    <h3>My Messages</h3>
    <table border="2">
    	<thead>
    		<th>Email</th>
    		<th>Content</th>
    		<th>Date</th>
    	</thead>
    	<tbody>
    		{{#each data}}
    		<tr>
    			<td>{{email}}</td>
    			<td>{{content}}</td>
    			<td>{{created}}</td>
    		</tr>
    		{{/each}}
    	</tbody>
    </table>
    {{/if}}
    </center>
</body>

</html>
